.container button a{
    text-decoration: none;
    color: white;
}
 .container .container-right1{
    border: 0px solid red;

}
.container .container-right1{
    border: 0px solid red;
width: 60%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.container-right1 form{
    border: 0px solid green;
 width: 580px;
 height: 500px;
 padding: 10px;
 box-shadow:  7px 7px 10px gray;

}
.container-right1 .form input[type="text"]
{
width: 100%;
height: 45px;
padding: 5px;
font-size: 15px;
margin-bottom: 15px;
}
.container-right1 .form select{
    width: 100%;
height: 45px;
padding: 5px;
font-size: 15px;
margin-bottom: 15px;
color: grey;
}
.container-right1 .form button{
    width: 100%;
height: 45px;
margin-bottom: 15px;
}
.container-right1 .form textarea{
    width: 100%;
height: 80px;
padding: 5px;
font-size: 15px;
margin-bottom: 15px;
}
.container-right1 P{
    text-align: center;
    font-size: 18px;
}
.container-right1 .form input[type="checkbox"]
{
height: 20px;
width: 20px;
margin-right: 10px;
}
.container-right1 .form  span{
    margin-right: 8px;
}
.container-right1 .form button{
    background-color: orange;
    font-size: 25px;
    color: white;
    outline: none;
    border: 0px;
     box-shadow:  7px 7px 10px gray;
     cursor: pointer;
}